<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 修改密码 -->
<th:block th:fragment="article">
    <header class="py-2">
        <div class="d-flex align-items-center justify-content-between">
            <h6>修改密码</h6>
            <span class="small d-flex align-items-center gap-1">
                <img th:src="@{/img/admin/sales_amount/home.svg}" style="width: 15px; height: 15px;" />
                <span class="fw-bold">Dashboard</span> || <span>修改密码</span>
            </span>
        </div>
    </header>

    <section class="bg-white rounded-2 mt-3">
        <article>
            <header class="p-3 border-bottom small">
                <h5 class="text-dark">修改密码</h5>
                <h6 class="text-secondary">当前用户：<span class="font-monospace text-dark">[[${username}]]</span></h6>
            </header>

            <section class="p-3">
                <form>
                    <div class="row mb-3 mb-sm-2">
                        <div class="col-12 col-md-3">
                            <label for="oldPassword" class="form-label text-muted">旧密码</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password" maxlength="255" id="oldPassword" class="form-control" autofocus  />
                        </div>
                    </div>

                    <div class="row mb-3 mb-sm-2">
                        <div class="col-12 col-md-3">
                            <label for="newPassword" class="form-label text-muted">新密码</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password" maxlength="255" id="newPassword" class="form-control"  />
                        </div>
                    </div>

                    <div class="row mb-3 mb-sm-2">
                        <div class="col-12 col-md-3">
                            <label for="confirm" class="form-label text-muted">确认密码</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password" maxlength="255" id="confirm" class="form-control"  />
                        </div>
                    </div>

                    <div class="text-center text-md-start mt-5">
                        <button role="button" type="button"
                                class="btn btn-primary opacity-50 col-12 col-sm-8 col-md-2 modify-password-btn">提交</button>
                    </div>
                </form>
            </section>
        </article>
    </section>

    <script th:src="@{/js/admin/modify_password.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        const contextPath = /*[[${#request.contextPath}]]*/ '';
        $(".modify-password-btn").on("click", () => modifyPassword(contextPath));
    </script>
</th:block>
</html>