<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 订餐 -->
<th:block th:fragment="article">
    <!-- 头部 -->
    <header>
        <h6>Dashboard</h6>
        <div class="row">
            <!--  -->
            <div class="col-12 col-md">
                <div class="d-flex align-items-center justify-content-start ps-3 py-3 bg-white rounded dashboard">
                    <img th:src="@{/img/ordinary/order_menu/happy_customer.svg}" style="width: 50px; height: 50px;" class="mx-2" />
                    <div>
                        <h6 class="small">Happy Customers</h6>
                        <p class="fw-bold fs-4 m-0">66k</p>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="col-12 col-md">
                <div class="d-flex align-items-center justify-content-start ps-3 py-3 bg-white rounded dashboard">
                    <img th:src="@{/img/ordinary/order_menu/daily_order.svg}" style="width: 50px; height: 50px;" class="mx-2" />
                    <div>
                        <h6 class="small">Daily Orders</h6>
                        <p class="fw-bold fs-4 m-0">15k</p>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="col-12 col-md">
                <div class="d-flex align-items-center justify-content-start ps-3 py-3 bg-white rounded dashboard">
                    <img th:src="@{/img/ordinary/order_menu/total_sales.svg}" style="width: 50px; height: 50px;" class="mx-2" />
                    <div>
                        <h6 class="small">Total Sales</h6>
                        <p class="fw-bold fs-4 m-0">420k</p>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="col-12 col-md">
                <div class="d-flex align-items-center justify-content-start ps-3 py-3 bg-white rounded dashboard">
                    <img th:src="@{/img/ordinary/order_menu/total_revenue.svg}" style="width: 50px; height: 50px;" class="mx-2" />
                    <div>
                        <h6 class="small">Total Revenue</h6>
                        <p class="fw-bold fs-4 m-0">10k</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- 区 -->
    <section class="bg-white rounded h-50 w-100 mt-3">
        <div class="d-flex align-items-center justify-content-between mb-2 border-bottom border-2 p-3">
            <h6>Total Revenue</h6>
            <button role="button" class="btn btn-primary opacity-75 btn-sm">Download</button>
        </div>
        <div class="row">
            <!-- 销售量图表 -->
            <div class="col-12 col-md-8">
                <canvas id="chartBar"></canvas>
            </div>

            <!-- 侧边统计 -->
            <div class="col-12 col-md-4">
                <div class="pt-3">
                    <button role="button" class="btn btn-primary opacity-75 btn-sm">Weekly</button>
                    <button role="button" class="btn btn-light btn-sm">Monthly</button>
                    <button role="button" class="btn btn-light btn-sm">Yearly</button>
                </div>
                <div class="content mt-2">
                    <ul class="list-group list-unstyled list-group-flush">
                        <li class="list-group-item list-group-item-action border-bottom-0 py-2
                                d-flex align-items-center justify-content-between ps-0 pe-4 text-muted">
                                <span class="left d-flex align-items-center">
                                    <img th:src="@{/img/ordinary/order_menu/trend.svg}" />
                                    <span>Total Sales</span>
                                </span>
                            <span class="right">
                                    <span>5995</span>
                                    <sup class="text-success">+15%</sup>
                                </span>
                        </li>

                        <li class="list-group-item list-group-item-action border-bottom-0 py-2
                                d-flex align-items-center justify-content-between ps-0 pe-4 text-muted">
                                <span class="left d-flex align-items-center">
                                    <img th:src="@{/img/ordinary/order_menu/customers.svg}" />
                                    <span>Total Customers</span>
                                </span>
                            <span class="right">
                                    <span>5894</span>
                                    <sup class="text-success">+15%</sup>
                                </span>
                        </li>

                        <li class="list-group-item list-group-item-action border-bottom-0 py-2
                               d-flex align-items-center justify-content-between ps-0 pe-4 text-muted">
                                <span class="left d-flex align-items-center">
                                    <img th:src="@{/img/ordinary/order_menu/income.svg}" />
                                    <span>Total Income</span>
                                </span>
                            <span class="right">
                                    <span>4553</span>
                                    <sup class="text-success">+25%</sup>
                                </span>
                        </li>

                        <li class="list-group-item list-group-item-action border-bottom-0 py-2
                                d-flex align-items-center justify-content-between ps-0 pe-4 text-muted">
                                <span class="left d-flex align-items-center">
                                    <img th:src="@{/img/ordinary/order_menu/expense.svg}" />
                                    <span>Total Expense</span>
                                </span>
                            <span class="right">
                                    <span>7454</span>
                                    <sup class="text-success">+2%</sup>
                                </span>
                        </li>

                        <li class="list-group-item list-group-item-action border-bottom-0 py-2
                                d-flex align-items-center justify-content-between ps-0 pe-4 text-muted">
                                <span class="left d-flex align-items-center">
                                    <img th:src="@{/img/ordinary/order_menu/likes.svg}" />
                                    <span>Total Likes</span>
                                </span>
                            <span class="right">
                                    <span>14454</span>
                                    <sup class="text-success">+5%</sup>
                                </span>
                        </li>

                        <li class="list-group-item list-group-item-action border-bottom-0 py-2
                                d-flex align-items-center justify-content-between ps-0 pe-4 text-muted">
                                <span class="left d-flex align-items-center">
                                    <img th:src="@{/img/ordinary/order_menu/paid.svg}" />
                                    <span>Total Paid</span>
                                </span>
                            <span class="right">
                                    <span>786</span>
                                    <sup class="text-success">+5%</sup>
                                </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script th:src="@{/js/third/chart.js}"></script>
    <script th:src="@{/js/admin/sales_sum.js}"></script>
    <script th:inline="javascript">
        $(function () {
            (async () => {
                await chartSalesSum([[${#request.contextPath}]]);
            })();
        });
    </script>
</th:block>
</html>