<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 库存卡片 -->
<article th:fragment="article" class="stock-card">
    <!-- 无数据 -->
    <th:block th:if="${#lists.isEmpty(page.list)}">
        <img th:src="@{/img/admin/menu_admin/no_data.svg}"
             alt="无数据" title="" class="mx-auto d-block w-50 h-auto mt-5" />
        <h6 class="text-muted mt-2 mx-auto text-center mb-5 small">无数据</h6>
    </th:block>

    <!-- 有数据 -->
    <th:block th:unless="${#lists.isEmpty(page.list)}">
        <div class="card mt-4 mb-3" th:each="food:${page.list}">
            <!-- 卡片头 -->
            <header class="card-header bg-primary bg-opacity-50 text-white text-center py-0">
                <h6 class="card-title py-3 my-0" title="ID & 菜品名称">
                    [[${food.id}]]/[[${#strings.abbreviate(food.name, 7)}]]
                </h6>
            </header>
            <!-- 卡片体 -->
            <section class="card-body p-0">
                <ul class="list-unstyled list-group-flush my-0">
                    <li class="list-group-item text-muted d-flex align-items-center">
                        <span class="col-4">单价</span>
                        <span class="col-8">[[${food.price}]]</span>
                    </li>

                    <li class="list-group-item text-muted d-flex align-items-center">
                        <span class="col-4">店铺</span>
                        <span class="col-8">[[${storeMap.get(food.sid).getName()}]]</span>
                    </li>

                    <li class="list-group-item text-muted d-flex align-items-center">
                        <span class="col-4">容量</span>
                        <span class="col-8">[[${food.stock}]]</span>
                    </li>


                    <li class="list-group-item text-muted d-flex align-items-center">
                        <span class="col-4">库存状态</span>
                        <span>[[${food.stock >= 10 ? '库存充足' : '库存不足'}]]</span>
                    </li>

                    <li class="list-group-item">
                        <button class="btn btn-primary opacity-75 add-stock-btn"
                                th:data-id="${food.id}" th:data-stock="${food.stock}">
                            <img th:src="@{/img/admin/menu_admin/edit_white.svg}" />
                            补货
                        </button>
                    </li>
                </ul>
            </section>
        </div>
    </th:block>
</article>
</html>