.order-table li {
    padding: 0.8em 0;
    font-size: 0.77em;
}

.order-table li span:first-child {
    width: 6%;
}

.order-table li span:nth-child(2) {
    width: 8%;
}

.order-table li span:nth-child(3) {
    width: 13%;
}

.order-table li span:nth-child(4) {
    width: 5%;
}

.order-table li span:nth-child(5) {
    width: 7%;
}

.order-table li span:nth-child(6) {
    width: 6%;
}

.order-table li span:nth-child(7) {
    width: 10%;
}

.order-table li span:nth-child(8) {
    width: 15%;
}

.order-table li span:nth-child(9) {
    width: 12%;
}

.order-table li span:nth-child(10) {
    width: 8%;
}

.order-table li span:last-child {
    width: 8%;
    text-align: center;
}

.order-table .order-table-img {
    position: absolute;
    z-index: 233;
    top: -10%;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.order-table .listed-action a {
    transform: scale(0.7);
}