.user-table li {
    padding: 0.8em 0;
}

.user-table li span:nth-child(2) {
    width: 12%;
}

.user-table li span:nth-child(3) {
    width: 10%;
}

.user-table li span:nth-child(4) {
    width: 12%;
}

.user-table li span:nth-child(5) {
    width: 15%;
}

.user-table li span:nth-child(6) {
    width: 15%;
}

.user-table li span:nth-child(7) {
    width: 22%;
}

.user-table li span:last-child {
    width: 7%;
    text-align: center;
}
