<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- 食品表格 -->
    <article class="food-table p-2" th:fragment="article">
        <ul class="list-group list-unstyled bg-light w-100">
            <!-- 表头 -->
            <li class="list-group-item fw-bold font-monospace rounded px-0 text-dark">
                <span>#</span>
                <span>菜品图片</span>
                <span>菜品名</span>
                <span>单价</span>
                <span>容量</span>
                <span>所属店铺</span>
                <span>简介</span>
                <span>菜品状态</span>
                <span>上架操作</span>
            </li>

            <!-- 无数据时显示 -->
            <th:block th:if="${#lists.isEmpty(page.list)}">
                <li class="py-5 d-flex align-items-center flex-column bg-white">
                    <img th:src="@{/img/admin/menu_admin/no_data.svg}" alt="无数据" title="" class="w-25 h-auto" />
                    <h6 class="text-muted mt-2">无数据</h6>
                </li>
            </th:block>

            <!-- 有数据时显示 -->
            <th:block th:unless="${#lists.isEmpty(page.list)}">
                <li class="list-group-item list-group-item-action rounded px-0 mt-2 text-muted"
                    th:each="food:${page.list}">
                    <!-- 批量删除 -->
                    <span>
                        <label>
                            <input type="checkbox" class="form-check-input food-id" name="foodId" th:value="${food.id}" />
                        </label>
                    </span>

                    <!-- 菜品图片 -->
                    <span class="position-relative">
                        <img th:src="@{'/foods/image/download/' + ${food.id}}" class="rounded food-table-img"
                             th:alt="${food.name}" th:title="${food.name}"
                             th:onerror="'javascript:this.src=\'' + @{/img/admin/menu_admin/no_data.svg} + '\''" />
                    </span>

                    <!-- 菜品名 -->
                    <span>[[${#strings.abbreviate(food.name, 10)}]]</span>

                    <!-- 单价 -->
                    <span>[[${food.price}]]</span>

                    <!-- 容量 -->
                    <span>[[${food.stock}]]</span>

                    <!-- 所属店铺 -->
                    <span>[[${storeMap.get(food.sid)}]]</span>

                    <!-- 简介 -->
                    <span>[[${#strings.abbreviate(food.desc, 12)}]]</span>

                    <!-- 菜品状态 -->
                    <span th:switch="${#strings.toString(food.status)}" class="order-status">
                        <span th:case="NotListed" class="text-dark rounded-pill px-2 py-1 shadow-sm">未上架</span>
                        <span th:case="Listed" class="bg-success bg-opacity-75 text-white rounded-pill px-2 py-1 shadow-sm">已上架</span>
                        <span th:case="Removed" class="bg-dark bg-opacity-50 text-white rounded-pill px-2 py-1 shadow-sm">已下架</span>
                    </span>

                    <!-- 上架操作 -->
                    <span th:switch="${#strings.toString(food.status)}" class="listed-action">
                        <a th:case="NotListed" th:href="@{/foods/status(id=${food.id},status='Listed')}" class="btn btn-sm btn-primary opacity-75">上架</a>
                        <a th:case="Listed" th:href="@{/foods/status(id=${food.id},status='Removed')}" class="btn btn-sm btn-secondary">下架</a>
                        <a th:case="Removed" th:href="@{/foods/status(id=${food.id},status='Listed')}" class="btn btn-sm btn-primary opacity-75">上架</a>
                    </span>

                    <!-- 操作 -->
                    <span class="action position-relative">
                        <img th:src="@{/img/admin/menu_admin/more.svg}" />
                        <div class="action-detail shadow rounded">
                            <a class="btn btn-sm btn-primary opacity-75 update-food"
                               th:href="@{/foods/form(id=${food.id})}">
                                <img th:src="@{/img/admin/menu_admin/edit_white.svg}" title="" alt="" />
                                <span>修改</span>
                            </a>
                            <button class="btn btn-sm btn-danger opacity-75 food-remove-btn" th:data-fid="${food.id}">
                                <img th:src="@{/img/admin/menu_admin/trash.svg}" title="" alt="" />
                                <span>删除</span>
                            </button>
                        </div>
                    </span>
                </li>
            </th:block>
        </ul>
    </article>
</html>