<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- 食品卡片 -->
    <article th:fragment="article" class="food-card">
        <!-- 无数据 -->
        <th:block th:if="${#lists.isEmpty(page.list)}">
            <img th:src="@{/img/admin/menu_admin/no_data.svg}"
                 alt="无数据" title="" class="mx-auto d-block w-50 h-auto mt-5" />
            <h6 class="text-muted mt-2 mx-auto text-center mb-5 small">无数据</h6>
        </th:block>

        <!-- 有数据 -->
        <th:block th:unless="${#lists.isEmpty(page.list)}">
            <div class="card mt-4 mb-3" th:each="food:${page.list}">
                <!-- 卡片头 -->
                <header class="card-header bg-primary bg-opacity-50 text-white text-center py-0">
                    <h6 class="card-title py-3 my-0" title="ID & 菜品名">
                        [[${food.id}]]/[[${#strings.abbreviate(food.name, 7)}]]
                    </h6>
                </header>
                <!-- 卡片体 -->
                <section class="card-body p-0">
                    <ul class="list-unstyled list-group-flush my-0">
                        <li class="list-group-item text-muted d-flex align-items-center">
                            <span class="col-4">单价</span>
                            <span class="col-8">[[${food.price}]]</span>
                        </li>

                        <li class="list-group-item text-muted d-flex align-items-center">
                            <span class="col-4">容量</span>
                            <span class="col-8">[[${food.stock}]]</span>
                        </li>

                        <li class="list-group-item text-muted d-flex align-items-center">
                            <span class="col-4">所属店铺</span>
                            <span class="col-8">[[${storeMap.get(food.sid)}]]</span>
                        </li>

                        <li class="list-group-item text-muted d-flex align-items-center">
                            <span class="col-4">简介</span>
                            <span class="col-8">[[${#strings.abbreviate(food.desc, 12)}]]</span>
                        </li>

                        <li class="list-group-item text-muted d-flex align-items-center">
                            <span class="col-4">菜品状态</span>
                            <span class="col-8 order-status" th:switch="${#strings.toString(food.status)}">
                                <span th:case="NotListed">未上架</span>
                                <span th:case="Listed">已上架</span>
                                <span th:case="Removed">已下架</span>
                            </span>
                        </li>

                        <li class="list-group-item d-flex align-items-center justify-content-evenly action">
                            <span th:switch="${#strings.toString(food.status)}" class="listed-action">
                                <a th:case="NotListed" th:href="@{/foods/status(id=${food.id},status='LISTED')}" class="btn btn-sm btn-primary opacity-75">上架</a>
                                <a th:case="Listed" th:href="@{/foods/status(id=${food.id},status='REMOVED')}" class="btn btn-sm btn-secondary">下架</a>
                                <a th:case="Removed" th:href="@{/foods/status(id=${food.id},status='LISTED')}" class="btn btn-sm btn-primary opacity-75">上架</a>
                            </span>
                            <a role="button" class="btn btn-sm btn-primary opacity-75 update-food"
                               th:href="@{/foods/form(id=${food.id})}">
                                <img th:src="@{/img/admin/menu_admin/edit_white.svg}" title="" alt="" />
                                <span>修改</span>
                            </a>
                            <button role="button" class="btn btn-sm btn-danger opacity-75 food-remove-btn" th:data-fid="${food.id}">
                                <img th:src="@{/img/admin/menu_admin/trash.svg}" title="" alt="" />
                                <span>删除</span>
                            </button>
                        </li>
                    </ul>
                </section>
            </div>
        </th:block>
    </article>
</html>