<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{components/import::head}" />
    <th:block th:replace="~{components/import::link}" />
    <th:block th:replace="~{components/import::script}" />
</head>
<body>
<noscript>抱歉，您的浏览器不支持 <code>JavaScript</code>!</noscript>

<div class="container-fluid">
    <header th:replace="~{components/header::header}"></header>

    <section class="row" style="height: 89vh;">
        <div class="col-2 p-0">
            <aside th:replace="~{views/admin/function::aside}"></aside>
        </div>
        <div class="col-10 bg-light">
            <article th:replace="~{views/store/store_form::form}"></article>
        </div>
    </section>

    <footer th:replace="~{components/footer::footer}"></footer>
</div>
</body>
</html>