.cart .order-table li span:first-child {
    width: 15%;
}

.cart .order-table li span:first-child img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.cart .order-table li span:nth-child(2) {
    width: 15%;
}

.cart .order-table li span:nth-child(4) {
    width: 20%;
}

.cart .order-table li span:nth-child(5) {
    width: 15%;
}

.cart .order-table .order-count {
    min-width: 4rem;
}